footer.footer {
    @include font-text-s;
    background-color: $color-primary;
    padding-top: map_get($grid-section-gutters, small);
    padding-bottom: 32px;

    @include breakpoint(large) {
        padding-top: map_get($grid-section-gutters, large);
    }

    h3,
    h4 {
        color: $color-white;
    }

    h4 {
        margin-bottom: 32px;
        display: inline-block;
    }

    a {
        color: $color-white;
        transition: $text-transition;

        &:hover {
            color: $color-secondary;
        }
    }

    .button {
        width: 100%;

        @include breakpoint(medium) {
            width: auto;
        }
    }

    .footer__address {
        margin-top: 64px;

        @include breakpoint(large) {
            margin-top: 0;
        }

        h4:after {
            content: '';
            background-image: url(/static/default/media/images/templating/svg/location-icon.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 15px;
            height: 20px;
            display: inline-block;
            margin-left: 32px;
        }
    }

    address {
        font-style: normal;
        color: $color-subheading;
        margin-bottom: 16px;
    }

    .footer__bottom {
        border-top: $color-border-dark-bg solid 1px;
        padding-top: 32px;
        margin-top: 48px;

        @include breakpoint(large) {
            margin-top: 96px;
        }

        .logo-footer {
            width: 125px;
            margin-top: 16px;

            @include breakpoint(large) {
                margin-top: 0;
            }
        }

        .copy {
            @include font-text-caption;
            font-weight: 400;
            letter-spacing: 0;
            color: $color-white;
            position: absolute;
            bottom: 0;
        }

        .footer__links {
            padding-right: 0;
            border-bottom: $color-border-dark-bg solid 1px;
            margin-bottom: 64px;
            padding-right: 0;
            padding-bottom: 16px;

            @include breakpoint(xlarge) {
                border-bottom: none;
                margin-bottom: 0;
                padding-right: 32px;
                padding-bottom: 0;
            }
        }

        ul {
            li {
                display: block;
                text-align: center;
                margin: 0 0 15px 0;

                @include breakpoint(medium) {
                    display: inline-block;
                    text-align: right;
                    margin: 0 20px;
                }

                a {
                    color: $color-white;
                    transition: $text-transition;

                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
        }
    }

    .footer__socials {
        svg {
            width: 22px;

            &.linkedin {
                width: 24px
            }
        }

        path {
            fill: $color-white;
            transition: all 300ms ease-out;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                text-align: center;
                flex: 1;

                @include breakpoint(xlarge) {
                    margin: 0 8px;
                }
            }
        }

        .facebook {
            margin-left: 8px;
        }

        .instagram {
            margin-left: 3px;
        }

        a {
            text-align: center;
            display: inline-block;

            &:hover path {
                fill: $color-secondary;
            }
        }
    }
}