// Do not animate items on resize. See resize.js
.noanim * {
    transition: none !important;
}

html {
    height: 100%;
}

body {
    @include font-text-m;
    height: 100%;

    @include breakpoint(large down) {
        &.mobile-menu-open {
            overflow: hidden;
        }
    }
}

section,
figure {
    position: relative;
}

button,
a {
    outline: 0;
}

.relative {
    position: relative;
}

ul.no-bullets {

    margin-left: 0;
    li {
        list-style: none;
    }
}

section.section {
    margin-top: map_get($grid-section-gutters, small);
    margin-bottom: map_get($grid-section-gutters, small);

    @include breakpoint(large) {
        margin-top: map_get($grid-section-gutters, large);
        margin-bottom: map_get($grid-section-gutters, large);
    }

    @include breakpoint(xxlarge) {
        margin-top: map_get($grid-section-gutters, xxlarge);
        margin-bottom: map_get($grid-section-gutters, xxlarge);
    }

    a:not(.button):not(.header-link):not(.header-link-process-columns):not(.service-link) {
        color: $color-secondary;

        &:hover {
            text-decoration: underline;
        }
    }

    a.no-styling-url {
        color: #444 !important;
        &:hover {
            text-decoration: none !important;
        }
    }
}


::selection {
    background: $color-secondary; /* WebKit/Blink Browsers */
    color: $color-white;
}

::-moz-selection {
    background: $color-secondary; /* Gecko Browsers */
    color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary;
}


ul.breadcrumbs {
    @include font-text-s;
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint(xlarge down) {
        width: 300%;
        overflow: hidden;
        padding-left: 5px;
    }

    li {
        color: $color-white-darker;
        display: inline-block;
        padding: 0;

        &:after {
            content: '/';
            font-size: 15px;
            color: $color-white-darker;
            font-weight: $font-weight-semibold;
            transform: translateY(-2px);
            margin: 0 8px;
        }

        &:last-child:after {
            content: none;
        }

        a {
            color: $color-white;
            text-decoration: none;
            transition: $text-transition;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &.breadcrumbs--dark {
        li {
            color: $color-subheading;
        }

        a {
            color: $color-primary;
        }
    }
}

.slider_arrows .slick-disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &.slide-prev:before {
        background-image: url(/static/default/media/images/templating/svg/arrow-left-white.svg);
    }

    &.slide-next:before {
        background-image: url(/static/default/media/images/templating/svg/arrow-right-white.svg);
    }
}

.slider_arrows {
    position: relative;
    right: 0;
    top: auto;
    z-index: 3;
    margin: 0 auto;
    width: 124px;

    button {
        display: inline-block;
        width: 48px;
        height: 48px;
        border: $color-white-darker solid 1px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        margin: 0 5px;
        font-size: 0;
        transition: all 300ms ease-out;

        &:before {
            content: '';
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            width: 18px;
            height: 15px;
            position: absolute;
            top: 18px;
            left: 15px;
        }

        &.slick-next:before,
        &.slide-next:before {
            background-image: url(/static/default/media/images/templating/svg/arrow-right-pink.svg);
        }

        &.slick-prev:before,
        &.slide-prev:before {
            background-image: url(/static/default/media/images/templating/svg/arrow-left-pink.svg);
        }
    }

    &.right {
        margin-right: 0;
        float: right;
    }

    &.darker {
        button {
            border: $color-border-dark-bg solid 1px;
        }
    }
}

.card-item {
    a {
        display: block;
    }

    .card-item__wrapper {
        position: relative;

        figure {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        img {
            transition: transform 500ms ease-out;
        }

        .card-item__title {
            position: absolute;
            bottom: 0;
            padding: 32px;
            background: linear-gradient(to top, rgba($color-black, 0.7) 0%, rgba($color-black, 0) 100%);
            width: 100%;
            z-index: 3;
        }

        span {
            display: block;
        }

        .title {
            @include font-text-caption;
            color: $color-white-darker;
            margin-bottom: 16px;
        }

        .subtitle {
            @include font-header-s;
            color: $color-white;
            font-weight: 700;
            margin-bottom: 0;
            word-break: break-word;

            &.subtitle--small {
                @include font-header-xs;
                line-height: 26px;
            }
        }
    }

    &:hover {
        figure img {
            transform: scale(1.05);
        }
    }
}

.round-image {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: $color-background-light solid 1px;
}

.section-header {
    margin-bottom: 0;

    @include breakpoint(xlarge) {
        margin-bottom: 64px;
    }
}

.slider-controls {
    margin-top: 32px;

    .progress {
        display: block;
        width: 78%;
        height: 1px;
        overflow: hidden;
        background-color: $color-white-darker;
        background-image: linear-gradient(to right, $color-secondary, $color-secondary);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size .5s ease-out;
        margin-left: 20px;

        @include breakpoint(large) {
            margin-left: 50px;
            width: 68%;
        }

        @include breakpoint(xlarge) {
            width: 80%;
        }
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect($color-black, 0);
        border: 0;
    }

    .slider_arrows {
        position: absolute;
        right: 0;
        top: -24px;
    }

    .paging {
        @include font-text-s;
        color: $color-subheading;
        margin-top: -10px;

        span {
            @include font-header-s;
            color: $color-primary;
            font-family: $font-regular;
            font-weight: $font-weight-bold;
            margin-right: 5px;
        }
    }
}

.section--black {
    background-color: $color-primary;

    .header-xl {
        color: $color-white;
    }

    .header-m {
        color: $color-white;
    }

    .subheading {
        font-family: $font-light;
        font-weight: $font-weight-light;
        color: $color-white-darker;
        margin-bottom: 8px;
        display: inline-block;
        margin-bottom: 48px;
    }
}

.section--top-padding {
    padding-top: map_get($grid-section-gutters, small);
    padding-bottom: map_get($grid-section-gutters, small);

    @include breakpoint(large) {
        padding-top: map_get($grid-section-gutters, large);
        padding-bottom: map_get($grid-section-gutters, large);
    }

    @include breakpoint(xxlarge) {
        padding-top: map_get($grid-section-gutters, xxlarge);
    }
}

.logo-item .cursor-auto {
    cursor: auto;
}



span.label {
    @include font-text-xs;
    font-weight: $font-weight-semibold;
    background-color: $color-secondary;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $color-white;
    text-transform: uppercase;
    padding: 0 8px;
    display: inline-block;
    border-radius: 3px;
    padding-top: 2px;
}

