header.header {
  background-color: $black;
  padding: 30px 0 25px 0;

  .menu-desktop {
    grid-gap: 50px;
    justify-content: space-between;
  }

  nav {

    ul {
      grid-gap: 35px;

      li {

        position: relative;

        &.has-sub:after{
          content: "";
          background-image: url(/static/default/media/images/templating/svg/down-chevron-pink.svg);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 10px;
          display: block;
          width: 14px;
          height: 14px;
          right: -18px;
          top: 10px;
          position: absolute;
          transform-origin: 50% 50%;
          transition: transform 150ms ease-in-out;
        }

        a {
          color: white;
          text-transform: capitalize;
          font-family: $primary-font;
          font-size: 0.8em;

        }

        &:hover {
          .submenu {
            display: block;
          }
        }

        .submenu {
          display: none;
          position: absolute;
          background-color: $black;
          opacity: 70%;
          width: 300px;

          a {
            text-transform: capitalize;
          }
        }
      }
    }
  }

}



