section.block_header-image {
  .heading-h1 {
    margin-bottom: 48px;
    color: $white;
    text-transform: uppercase;
    font-weight: $extrabold;
    font-size: 4em;

    span {
      color: $color-secondary;
      font-family: $primary-font;
    }
  }

  p {
    font-family: $primary-font;
  }

  .title_pre {
    margin-top: 50px;
    display: block;
    color: $color-secondary;
    font-family: $primary-font;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  ul {

    margin: 0;
    width: 100%;
    list-style: none;

    li {
      margin-bottom: 16px;
      padding-left: 24px;
      position: relative;
    }
  }

  a {
    color: $color-white;
  }

  .button {
    margin-top: 48px;

    @include breakpoint(small only) {
      padding: 24px 56px 24px 24px;
      margin-top: 32px;
    }
  }

  color: $color-white;
  min-height: 700px;
  padding-top: 48px;
  padding-bottom: 64px;
  margin-bottom: 64px;

  @include breakpoint(xlarge) {
    padding-bottom: 48px;
    padding-top: 80px;
    margin-bottom: 128px;
  }

  .heading-h1.noMargin {
    margin-bottom: 16px;
  }

  .heading-h6 {
    letter-spacing: 1px;
    margin-bottom: 40px;
  }

  .gradient {
    background-color: $black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;

    @include breakpoint(large down) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
    }

    @include breakpoint(xlarge) {
      width: calc(50% + 256px);
      left: -192px;
      transform: skew(20deg);
    }
  }

  img {
    width: calc(100% + 48px);
    max-width: calc(100% + 48px);
    margin-left: -24px;
    margin-bottom: 24px;
  }

  .bg-image {
    background-image: url('/static/default/media/images/templating/dummy/header-dummy.png');
    background-size: cover;
    background-position: top center;
    width: calc(50% + 128px);
    height: calc(100% - 48px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
  }

  @include breakpoint(large down) {
    display: none;
  }

  @include breakpoint(xlarge) {
    right: 0;
    transform: none;
  }

}