.heading-h1-jumbo {
    @include font-heading-h1-jumbo;
}

h1,
.heading-h1 {
    @include font-heading-h1;
}

h2,
.heading-h2 {
    @include font-heading-h2;
}

h3,
.heading-h3 {
    @include font-heading-h3;
}

h4,
.heading-h4 {
    @include font-heading-h4;
}

h5,
.heading-h5 {
    @include font-heading-h5;
}

h6,
.heading-h6 {
    @include font-heading-h6;
}

.font-text-l {
    @include font-text-l;
}

.font-text-m {
    @include font-text-m;
}

.font-text-s {
    @include font-text-s;
}