@mixin fullWidthVideo {
  padding-bottom: 56.25%;
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 56.25%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@mixin text-setting($level) {
  font-family: font-family($level);
  font-weight: font-weight($level);
  font-size: font-size($level);
  line-height: line-height($level);
  text-transform: text-transform($level);
}


@mixin font-heading-h1-jumbo {
  @include text-setting('font-heading-h1-jumbo');
}

@mixin font-heading-h1 {
  @include text-setting('font-heading-h1');
}

@mixin font-heading-h2 {
  @include text-setting('font-heading-h2');
}

@mixin font-heading-h3 {
  @include text-setting('font-heading-h3');
}

@mixin font-heading-h4 {
  @include text-setting('font-heading-h4');
}

@mixin font-heading-h5 {
  @include text-setting('font-heading-h5');
}

@mixin font-heading-h6 {
  @include text-setting('font-heading-h6');
}

//Define default text sizes
@mixin font-text-l {
  @include text-setting('font-text-l');
}

@mixin font-text-m {
  @include text-setting('font-text-m');
}

@mixin font-text-s {
  @include text-setting('font-text-s');
}