// Colors
$color-primary: #191718 !default; //very dark grey
$color-secondary: #E80269 !default; //pink
$color-black: $black !default;
$color-white: $white;
$color-white-darker: darken($color-white, 15%) !default; //30% darker
$color-grey-light: #D8D8D8;

// Colors by type
$color-text: #444444;
$color-border-dark: #F3F3F3;
$color-border-light: lighten(#8F8371, 30%);
$color-subheading: #999999;
$color-caption: lighten($color-primary, 50%);
$color-background-light: #F9F9F8; //very light grey
$color-button-secondary: #EFEFEF;
$color-border-dark-bg: darken($color-white, 80%);
$color-breadcrumb: #433E40;

// Transitions
$text-transition: color 200ms ease-out;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"&display=swap');
$primary-font:'Poppins', sans-serif;


//Font sizes
$default-size: 16px !default;

$heading-h1-jumbo: ceil(($default-size * 5))      !default; // ~80px
$heading-h1:       ceil(($default-size * 4))      !default; // ~64px
$heading-h2:       ceil(($default-size * 2.50))   !default; // ~40px
$heading-h3:       ceil(($default-size * 2))      !default; // ~32px
$heading-h4:       ceil(($default-size * 1.5))    !default; // ~24px
$heading-h5:       ceil(($default-size * 1.125))  !default; // ~18px
$heading-h6:       ceil(($default-size * 0.9375)) !default; // ~15px
$font-l:           ceil(($default-size * 1.125))  !default; // ~18px
$font-m:           ceil(($default-size * 1.0625)) !default; // ~17px
$font-s:           ceil(($default-size * 1))      !default; // ~16px
$font-xs:          ceil(($default-size * 0.875))  !default; // ~14px
$font-buttons:     ceil(($default-size * 0.875))  !default; // ~14px
$font-xxs:         ceil(($default-size * 0.75))   !default; // ~12px


//Font weights
$light:      300;
$regular:    400;
$medium:     500;
$semibold:   600;
$bold:       700;
$extrabold:  800;

//Font settings
$text-settings: (
        'font-heading-h1-jumbo': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $heading-h1-jumbo,
                line-height: 88px
        ),
        'font-heading-h1': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $heading-h1,
                line-height: 72px
        ),
        'font-heading-h2': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $heading-h2,
                line-height: 48px
        ),
        'font-heading-h3': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $heading-h3,
                line-height: 42px
        ),
        'font-heading-h4': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $heading-h4,
                line-height: 32px
        ),
        'font-heading-h5': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $heading-h5,
                line-height: 25px
        ),
        'font-heading-h6': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $heading-h6,
                line-height: 21px,
                text-transform: uppercase
        ),
        'font-text-l': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $font-l,
                line-height: 27px
        ),
        'font-text-m': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $font-m,
                line-height: 25px
        ),
        'font-text-s': (
                font-family: $primary-font,
                font-weight: $regular,
                font-size: $font-s,
                line-height: 24px
        )
) !default;


//Default gutters between sections
$grid-section-gutters: (
        small: 32px,
        medium: 64px,
        large: 128px
);

//Default paddings
$global-padding-or-margin: (
        thin: 16px,
        small: 32px,
        medium: 64px,
        large: 128px
);