/*
 * Define local fonts
 */
//@font-face {
//    font-family: 'Proxima Nova Rg';
//    src: url('../../../fonts/ProximaNova-Regular.woff2') format('woff2'),
//    url('../../../fonts/ProximaNova-Regular.woff') format('woff'),
//    url('../../../fonts/ProximaNova-Regular.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//    font-display: swap;
//}
//
//@font-face {
//    font-family: 'Proxima Nova Lt';
//    src: url('../../../fonts/ProximaNova-Light.woff2') format('woff2'),
//    url('../../../fonts/ProximaNova-Light.woff') format('woff'),
//    url('../../../fonts/ProximaNova-Light.ttf') format('truetype');
//    font-weight: 300;
//    font-style: normal;
//    font-display: swap;
//}
//
//@font-face {
//    font-family: 'Proxima Nova Rg';
//    src: url('../../../fonts/ProximaNova-Bold.woff2') format('woff2'),
//    url('../../../fonts/ProximaNova-Bold.woff') format('woff'),
//    url('../../../fonts/ProximaNova-Bold.ttf') format('truetype');
//    font-weight: bold;
//    font-style: normal;
//    font-display: swap;
//}
//
//@font-face {
//    font-family: 'Proxima Nova Lt';
//    src: url('../../../fonts/ProximaNova-Semibold.woff2') format('woff2'),
//    url('../../../fonts/ProximaNova-Semibold.woff') format('woff'),
//    url('../../../fonts/ProximaNova-Semibold.ttf') format('truetype');
//    font-weight: 600;
//    font-style: normal;
//    font-display: swap;
//}

/*
 * Define font vars
 */

$font-light: 'Proxima Nova Lt';
$font-regular: 'Proxima Nova Rg';
$font-semibold: 'Proxima Nova Lt';
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: bold;

/*
 * Define default header sizes
 */

@mixin font-header-xxl {
    font-family: $font-regular;
    font-weight: $font-weight-bold;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -5px;

    @include breakpoint(medium) {
        font-size: 50px;
        line-height: 54px;
    }

    @include breakpoint(xlarge) {
        font-size: 96px;
        line-height: 88px;
    }
}

@mixin font-header-xl {
    font-family: $font-regular;
    font-weight: $font-weight-bold;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -2px;
    margin-bottom: 32px;

    @include breakpoint(medium) {
        font-size: 50px;
        line-height: 54px;
    }

    @include breakpoint(xlarge) {
        font-size: 64px;
        line-height: 60px;
    }

    @include breakpoint(xxlarge) {
        font-size: 80px;
        line-height: 72px;
    }
}

@mixin font-header-l {
    font-family: $font-regular;
    font-weight: $font-weight-bold;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -3px;
    margin-bottom: 28px;

    @include breakpoint(medium) {
        font-size: 50px;
        line-height: 54px;
    }

    @include breakpoint(xlarge) {
        font-size: 64px;
        line-height: 60px;
    }
}

@mixin font-header-m {
    font-family: $font-regular;
    font-weight: $font-weight-bold;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -2.5px;
    margin-bottom: 16px;

    @include breakpoint(large) {
        font-size: 48px;
        line-height: 44px;
    }
}

@mixin font-header-s {
    font-family: $font-regular;
    font-weight: $font-weight-normal;
    font-style: normal;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -1px;
    margin-bottom: 16px;

    @include breakpoint(medium) {
        font-size: 32px;
        line-height: 30px;
        letter-spacing: -1.5px;
    }
}

@mixin font-header-xs {
    font-family: $font-regular;
    font-weight: $font-weight-bold;
    font-style: normal;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -1px;
}

@mixin font-subheading {
    color: $color-subheading;
    font-family: $font-light;
    font-weight: $font-weight-light;
    font-style: normal;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -1px;

    @include breakpoint(medium) {
        font-size: 32px;
        line-height: 30px;
        letter-spacing: -1.5px;
    }
}

/*
 * Define default text sizes
 */

@mixin font-text-xl {
    font-family: $font-regular;
    font-size: 20px;
    line-height: 32px;
    color: $color-text;

    @include breakpoint(medium) {
        font-size: 28px;
        line-height: 40px;
    }
}

@mixin font-text-l {
    font-family: $font-regular;
    font-weight: $font-weight-semibold;
    font-size: 24px;
    line-height: 36px;
    color: red;
}

@mixin font-text-m {
    font-family: $font-regular;
    font-size: 20px;
    line-height: 32px;
    color: darkred;
}

@mixin font-text-ms {
    font-family: $font-regular;
    font-size: 18px;
    line-height: 26px;
    color: deeppink;
}

@mixin font-text-s {
    font-family: $font-regular;
    font-size: 16px;
    line-height: 24px;
    color: blueviolet;
}

@mixin font-text-xs {
    font-family: $font-regular;
    font-size: 14px;
    line-height: 22px;
    color: purple;
}

/*
 * Define Special text sizes
 */

@mixin font-text-caption {
    font-family: $font-regular;
    font-weight: $font-weight-bold;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-caption;
    letter-spacing: 1px;
}

@mixin font-menu {
    font-family: $font-light;
    font-weight: $font-weight-semibold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0;
}
