* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    background: #eee url('../../media/images/manager/manager-loginscreen-bg.png') center -90px repeat-x;
}

h2 {
    font-weight: 600;
    text-align: center;
}

p.loginLicense,
#login .adwise-info {
    opacity: .3;

    -webkit-transition: all 0.7s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.7s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.7s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.7s ease-in-out, width 0, height 0, top 0, left 0;
}

.login-cb-row {
    padding: 0;
}

button.login-form-btn {
    margin: 20px 0 0;
}

#login .adwise-info {
    opacity: .5;
}

#modx-login-logo {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 24px 12px;
}

#modx-login-logo img {
    float: right;
    margin: 15px 0 0;
}

#modx-login-logo img.adwise {
    width: auto;
    height: 57px;
    float: left;
    margin: 19px 0 0;
}

input[type="text"],
input[type="password"] {
    -webkit-transition: all 0.7s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.7s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.7s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.7s ease-in-out, width 0, height 0, top 0, left 0;
}

input[type="text"]:focus,
input[type="password"]:focus {
    -moz-box-shadow: 0 0 10px rgba(233, 84, 13, .5);
    -webkit-box-shadow: 0 0 10px rgba(233, 84, 13, .5);
    box-shadow: 0 0 10px rgba(233, 84, 13, .5);
}

#modx-panel-login-div.shake {
    -webkit-animation: shake .5s linear;
    -moz-animation: shake .5s linear;
    animation: shake .5s linear;
}

@-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-6px);
    }
    25%, 58% {
        -webkit-transform: translateX(6px);
    }
    75% {
        -webkit-transform: translateX(-3px);
    }
    92% {
        -webkit-transform: translateX(3px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

#modx-panel-login-div {
    -moz-box-shadow: 0 0 20px rgba(233, 84, 13, .2);
    -webkit-box-shadow: 0 0 20px rgba(233, 84, 13, .2);
    box-shadow: 0 0 20px rgba(233, 84, 13, .2);
}

p.loginLicense:hover,
#login .adwise-info:hover {
    opacity: 1;
}

p.loginLicense {
    margin-top: 10px;
    text-align: center;
    padding: 0;
    cursor: default;
}

p.loginLicense * {
    cursor: default;
}

p.loginLicense a {
    color: #464646;
    font-weight: bold;
    cursor: pointer;
}

#login #modx-login-logo .adwise-logo {
    width: auto;
}

#login #modx-login-logo .modx-agency-logo {
    width: auto;
    margin-left: 5px;
}

#login .adwise-info {
    margin-top: 30px;
    padding: 20px;
    text-shadow: 1px 1px 1px #fff;
    cursor: default;
}

#login .adwise-info * {
    cursor: default;
}

#login .adwise-info h2 {
    color: #656565;
    font-weight: bold;
}

#login .adwise-info ul {
    list-style: disc;
    padding-left: 15px;
    padding-top: 5px;
}

#login .adwise-info li {
    line-height: 24px;
    white-space: nowrap;
}

#login .adwise-info a {
    color: #464646;
    font-weight: bold;
    cursor: pointer;
}

#modx-login-btn:active {
    margin: 20px 0 0;
}