<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="nl">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->
    <title>[[++site_name]]</title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            width: 100% !important;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        p {
            margin-top: 2px;
            margin-bottom: 10px;
        }

        table {
            border-spacing: 0;
        }

        table td {
            border-collapse: collapse;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }

        .ReadMsgBody {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: #f5f5f5;
        }

        table {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        @media screen and (max-width: 599px) {
            h2[class=full],
            table[class=force-row],
            table[class=container],
            table[class=article-image-full] {
                width: 100% !important;
                max-width: 100% !important;
            }
        }

        @media screen and (max-width: 599px) {
            tr.visible-lg,
            tr[class=visible=lg],
            table.visible-lg,
            table[class=visible-lg] {
                display: none !important;
            }
        }

        @media screen and (max-width: 599px) {
            .logo {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media screen and (max-width: 599px) {
            .cta {
                height: auto !important;
            }
        }

        @media screen and (max-width: 599px) {
            .header-line {
                padding-left: 10px;
                padding-right: 10px;
                display: block;
            }
        }

        @media screen and (max-width: 599px) {
            .articleleft-image {
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width: 599px) {
            .articleright-image {
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 400px) {
            td[class*=container-padding] {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }

        .ios-footer a {
            color: #aaaaaa !important;
            text-decoration: underline;
        }

        @media screen and (max-width: 599px) {
            td[class=col] {
                width: 100% !important;
            }
        }

        @media screen and (max-width: 599px) {
            td[class=small-center] {
                text-align: center !important;
            }
        }

        @media screen and (max-width: 599px) {
            table[class=visible-lg] {
                display: none !important;
            }
        }

        @media screen and (max-width: 599px) {
            tr[class=visible-xs] {
                display: block !important;
                width: auto !important;
                overflow: visible !important;
                float: none !important;
                height: auto !important;
            }
        }

        @media screen and (max-width: 599px) {
            td[class=cols-wrapper],
            td[class=2-cols-wrapper] {
            padding-top: 18px;
        }
        }

        @media screen and (max-width: 400px) {
            td[class=2-cols-wrapper] {
            padding-left: 12px !important;
            padding-right: 12px !important;
        }
        }

        @media screen and (max-width: 400px) {
            td[class=cols-wrapper] {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }

        @media screen and (max-width: 400px) {
            td[class=content-wrapper] {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }

        @media screen and (max-width: 400px) {
            table[class=spacer] {
                display: none !important;
            }
        }

        @media screen and (max-width: 400px) {
            table[class=article-image-full] {
                height: 100px !important;
            }
        }

        @media screen and (max-width: 400px) {
            .article-image-full {
                height: 100px !important;
            }
        }
    </style>
    <!--[if mso]>

    <style>
        h2, h4 {
            font-family: Arial, sans-serif !important;
        }
    </style>

    <![endif]-->
</head>
<body style="margin:0; padding:0;" bgcolor="#f5f5f5" marginwidth="0" marginheight="0" margintop="0" marginleft="0" marginright="0">

<!-- 100% background wrapper (grey background) -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#f5f5f5">
    <tr>
        <td align="center" valign="top" bgcolor="#f5f5f5" style="background-color: #f5f5f5;">

            <!-- row to add space above the container -->
            <table width="100%" height="40" border="0" cellpadding="0" cellspacing="0" class="spacer" style="width: 600px;border:none;" bgcolor="#f5f5f5">
                <tr>
                    <td height="40" width="100%" bgcolor="#f5f5f5" style="background-color: #f5f5f5;">
                        <br>
                    </td>
                </tr>
            </table>
            <!-- /row to add space above the container -->

            <!-- 600px container (white background) -->
            <table border="0" width="600" cellpadding="0" cellspacing="0" class="container" style="width:600px;max-width:600px;border:none;">
                <tr>
                    <td align="center" valign="top" bgcolor="#ffffff">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                            <tr>
                                <td id="header" width="600" valign="top" align="center">
                                    <img src="[[++site_url]]/static/default/media/images/templating/png/logo.png" width="200" height="72">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="content" align="left" style="background-color:#ffffff;border:none;">

                        <!-- 600px container (white background) -->
                        <table width="600" border="0" cellpadding="0" cellspacing="0" class="force-row" style="width: 600px;border:none;">
                            <tr>
                                <td align="center" valign="top" bgcolor="#ffffff">
                                    <br>
                                    <br>
                                    <table border="0" width="600" cellpadding="20" cellspacing="0" class="container" style="width:600px;max-width:600px;border:none;padding: 20px;">
                                        <tr style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;background-color:#ffffff;">
                                            <td style="text-align:left;max-width: 100%;" width="560" class="force-row">
                                                <h2>[[+name]]</h2>
                                                [[+fiarContent]]
                                            </td>
                                        </tr>
                                        <tr style="font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333;background-color:#ffffff;">
                                            <td style="text-align:left;max-width: 100%;" width="560" class="force-row">
                                                [[+fiarFields]]
                                            </td>
                                        </tr>
                                    </table>
                                    <br>&nbsp;
                                </td>
                            </tr>
                        </table>
                        <!-- /600px container (white background) -->
                    </td>
                </tr>
            </table>
            <!--/600px container -->

            <!-- 600px container (no background) -->
            <table border="0" width="600" cellpadding="0" cellspacing="0" class="container" style="width:600px;max-width:600px;border:none;">
                <tr>
                    <td class="content" align="left" style="background-color:#f5f5f5;border:none;">
                        <table width="600" border="0" cellpadding="0" cellspacing="0" class="force-row" style="width: 600px;border:none;">
                            <tr>
                                <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #5d6561; text-align: left; padding-top: 15px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- 600px container (no background) -->
            <br>
        </td>
    </tr>
</table>
<!--/100% background wrapper-->
</body>
</html>