<label>
    <input type="radio" name="[[!+name]]" id="[[!+name]]_[[!+idx]]" class="form-control form-control--radio [[!+error:notempty=`error`]]" value="[[!+title]]"
           [[!FormItIsChecked? &input=`[[!+value]]` &options=`[[!+title]]`]]
    />
    [[!+title]]
</label>